<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>个人信息</h1>
    <img src="/avatar.html?prev={{ request.session.INIT_DICT.User.HeadImgUrl }}">
    <h2>{{ request.session.INIT_DICT.User.NickName }}</h2>
{#    图片做了防盗链，无法像下面直接显示图片#}
{#    <img src="https://wx.qq.com{{ request.session.INIT_DICT.User.HeadImgUrl }}">#}

    <h1>最近联系人</h1>
        <ul>
        {% for user in  request.session.INIT_DICT.ContactList %}
            <li><img src="/avatar.html?prev={{ user.HeadImgUrl }}">  {{ user.UserName }}   {{ user.NickName }}</li>
        {% endfor %}
        </ul>

        <a href="/contact_list.html">更多联系人</a>
    <h1>公众号信息</h1>
</body>
</html>